body {
  margin: 100;
  padding: 20;
  font-family: Helvetica;
}

header {
  grid-area: header;
 }

header,
footer {
  background: #8b1212;
  display: flex;
  justify-content: center;
  align-items: center; }

.header-title {
  font-family: Helvetica;
  font-size: 4rem;
  color: #E6E7FD;
  text-transform: uppercase;
  letter-spacing: 0.3em; }

.add-site {
  grid-area: hero;
  background: #c2c2c2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.add-site-title {
  font-family: Helvetica;
  font-size: 2.875rem;
  font-weight: 300;
  color: #000;
  margin: 0; }

input {
  font-family: Helvetica;
  font-size: 1rem;
  font-weight: 300;
  color: rgb(7, 2, 2); }

main {
  grid-area: main; }
  .site-header {
    font-family: Helvetica;
    font-size: 2.25rem;
    font-weight: 300;
    color: #486090; }

.sites-header {
  font-family: Helvetica;
  font-size: 2.25rem;
  font-weight: 300;
  color: #4b0202; }

footer {
  grid-area: footer; }

.card {
  position: relative;
  grid-template: "img title" "img content" auto / 1fr 1fr;
  grid-column-gap: 1em;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.25);
  padding: 1.5em;
  border: grey solid 1px;
  margin-bottom: 1.5em;
  justify-content: center;
  align-items: center; }

.card-img {
  grid-area: img;
  max-width: 100%; }

.card-title {
  grid-area: title;
  margin: 0;
  font-family: Helvetica;
  font-size: 1.75rem;
  font-weight: 300;
  color: #486090; }


  .card-content button {
    position: absolute;
    right: 1.5em;
    bottom: 1.5em;
    margin: auto;
    width: 90px;
    height: 40px;
    background: #fff;
    border: 0;
    font-size: .9rem;
    font-family: Helvetica;
    transition: all .2s ease-in-out;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0px 2px 0px rgba(72, 96, 144, 0.1);
    outline: none; }

   


    
